@model Logica.ViewModels.CancionesViewModel

@{
    ViewData["Title"] = "AgregarCancion";
}

<h1>AgregarCancion</h1>

<h4>Canciones</h4>
<hr />
<div class="card">
    @using (Html.BeginForm("AgregarCancion","Canciones", FormMethod.Post, new {enctype = "multipart/form-data"})){
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
<h4>Canción</h4> 
            @Html.ValidationSummary(true, "", new { @class = "text-danger" }) <!--Se comprueba si lo insertado es válido-->
            <div class="form-group">
            <div class="row" id="fila">
                    <div class="form-group col-md-6">
                        <h6><strong>Nombre de la canción</strong></h6>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { style = "width=500vw", @class = "form-control", placeholder = "Inserta el nombre del Producto", id = "nombre" } }) <!--Para insertarlo-->
                            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" }) <!--Marca un mensaje de error-->
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-6">
                        <h6><strong>Artista</strong></h6>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Artista, "{0:0.00}", new { htmlAttributes = new { style = "width:8vw", @class = "form-control", placeholder = "Precio" } })
                            @Html.ValidationMessageFor(model => model.Artista, "", new { @class = "text-danger" }) <!--Gracias al jqueryFixes va los decimales-->


                        </div>
                    </div>
            </div>
                <div class="row" id="fila">
                    <div class="form-group col-md-6">
                        <h6><strong>Album</strong></h6>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Album, new { htmlAttributes = new { style = "width=500vw", @class = "form-control", placeholder = "Inserta el nombre del Producto", id = "nombre" } }) <!--Para insertarlo-->
                            @Html.ValidationMessageFor(model => model.Album, "", new { @class = "text-danger" }) <!--Marca un mensaje de error-->
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-6">
                        <h6><strong>Duración</strong></h6>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Duracion, "{0:0.00}", new { htmlAttributes = new { style = "width:8vw", @class = "form-control", placeholder = "Precio" } })
                            @Html.ValidationMessageFor(model => model.Duracion, "", new { @class = "text-danger" }) <!--Gracias al jqueryFixes va los decimales-->


                        </div>
                    </div>
                </div>
                </div>
                <div class="row" id="fila">
                    <div class="form-group col-md-6">
                        <h6><strong>Número de Reproducciones</strong></h6>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NumeroReproducciones, new { htmlAttributes = new { style = "width=500vw", @class = "form-control", placeholder = "Inserta el nombre del Producto", id = "nombre" } }) <!--Para insertarlo-->
                            @Html.ValidationMessageFor(model => model.NumeroReproducciones, "", new { @class = "text-danger" }) <!--Marca un mensaje de error-->
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-6">
                        <h6><strong>Número de Likes</strong></h6>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NumeroLikes, "{0:0.00}", new { htmlAttributes = new { style = "width:8vw", @class = "form-control", placeholder = "Precio" } })
                            @Html.ValidationMessageFor(model => model.NumeroLikes, "", new { @class = "text-danger" }) <!--Gracias al jqueryFixes va los decimales-->


                        </div>
                    </div>
                </div>
                @* <div class="row" id="fila">
                    <div class="form-group col-md-6">
                        <h6><strong>Número de Reproducciones</strong></h6>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NumeroReproducciones, new { htmlAttributes = new { style = "width=500vw", @class = "form-control", placeholder = "Inserta el nombre del Producto", id = "nombre" } }) <!--Para insertarlo-->
                            @Html.ValidationMessageFor(model => model.NumeroReproducciones, "", new { @class = "text-danger" }) <!--Marca un mensaje de error-->
                        </div>
                    </div>
                    <br />
                    
                </div> *@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

<div>
    <a asp-action="ListaCanciones">Back to List</a>
</div>
}