@model Logica.ViewModels.CancionesViewModel
@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Agregar Canción";
}

<h1>Agregar Canción</h1>

<div class="card p-4">
@using (Html.BeginForm("AgregarCancion", "Canciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-row">
            <div class="form-group col-md-6">
                <label><strong>Nombre de la canción</strong></label>
                @Html.EditorFor(m => m.Titulo, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de la canción" } })
                @Html.ValidationMessageFor(m => m.Titulo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                <label><strong>Artista</strong></label>
                @Html.EditorFor(m => m.Artista, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del artista" } })
                @Html.ValidationMessageFor(m => m.Artista, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label><strong>Álbum</strong></label>
                @Html.EditorFor(m => m.Album, new { htmlAttributes = new { @class = "form-control", placeholder = "Álbum" } })
                @Html.ValidationMessageFor(m => m.Album, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6">
                   <label>Duración (mm:ss)</label>
        @Html.TextBoxFor(m => m.DuracionTexto, new { @class = "form-control", placeholder = "Ej: 03:30" })
        @Html.ValidationMessageFor(m => m.DuracionTexto, "", new { @class = "text-danger" })
   
            </div>
        </div>
        <div class="row" id="fila">
               
                <div class="form-group col-md-6">

                    <h6><strong>Género</strong></h6>
                    <div class="col-md-6">

                        @Html.DropDownListFor(model => model.Genero, 
                        new SelectList(Enum.GetValues(typeof(Logica.Models.Genero))), 
                        "-- Selecciona género --", 
                        new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })

                    </div>

                </div>
            </div>
        <div class="form-group">
                <label>Archivo MP3</label>
        <input type="file" name="archivo" class="form-control-file" accept=".mp3" />
        @Html.ValidationMessageFor(m => m.ArchivoCancion, "", new { @class = "text-danger" })
   
        </div>
        <div class="form-group">
    @Html.HiddenFor(m => m.idCancion)
</div>
        <div class="row" id="fila">
            <div class="form-group col-md-6">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Subir" class="btn btn-primary" />
                </div>
            </div>
            <br />

            <div class="col-md-6">
                @Html.ActionLink("Volver", "Index")
            </div>
        </div>
    }
</div>
