@model Logica.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Registro";
}

<h2 class="text-center">Registro</h2>

<br />
<div class="container d-flex justify-content-center">
    <div class="card p-4" style="width: 600px;">
        @using (Html.BeginForm("Registrar", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4 class="mb-4"><strong>Usuario</strong></h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label><strong>Nombre</strong></label>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre Usuario"} })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label><strong>Email</strong></label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label><strong>Contraseña</strong></label>
                    <div class="position-relative">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", id = "myInput", placeholder = "Contraseña" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        <input type="checkbox" id="toggle" class="offscreen" onclick="myFunction()">
                        <label for="toggle" class="switch mt-2"></label>
                    </div>
                </div>

                <div class="boton form-group text-center mt-4">
                    <input type="submit" value="Crear" class="btn btn-dark" />
                </div>

                <div class="form-group text-center">
                    @Html.ActionLink("Volver", "Login")
                </div>
            </div>
        }
    </div>
</div>

<style>
    .boton button:hover {
        background-color: #0056b3;
        color: white;
        transition: background-color 0.3s ease;
    }

    #fila {
        margin-left: 10vw;
    }

    #card {
        justify-content: center;
        margin-left: 8vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #texto {
        text-align: center;
    }

    #name {
        width: 200vw;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        transition: all 0.3s;
    }

        .switch::after {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            border-radius: 22px;
            background-color: white;
            top: 1px;
            left: 1px;
            transition: all 0.3s;
        }

    input[type='checkbox']:checked + .switch::after {
        transform: translateX(20px);
    }

    input[type='checkbox']:checked + .switch {
        background-color: #7983ff;
    }

    .offscreen {
        position: absolute;
        left: -9999px;
    }
</style>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>


