@model Logica.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Registro";
}


<br />
<div class="container d-flex justify-content-center">
    <div class="card p-4 shadow" style="max-width: 600px; width: 100%;">
        @using (Html.BeginForm("Registro", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <h4 class="mb-4 text-center"><strong>Registro</strong></h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label><strong>Nombre</strong></label>
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    <label><strong>Email</strong></label>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label><strong>Contraseña</strong></label>
                <div class="position-relative">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password", id = "myInput", placeholder = "Contraseña" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    <span class="position-absolute" style="top: 10px; right: 10px; cursor: pointer;" onclick="togglePassword()">
                        <i id="eyeIcon" class="fa fa-eye"></i>
                    </span>
                </div>
            </div>

            <div class="form-row mt-4">
                <div class="col text-center">
                    <button type="submit" class="btn btn-dark boton-registrar">Crear</button>
                </div>
                <div class="col text-center">
                    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary shadow-sm">
                        <i class="fa-solid fa-arrow-left me-2"></i> Volver
                    </a>
                </div>
                
            </div>
        }
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">


<style>
    .boton-registrar button:hover {
        background-color: #0056b3;
        color: white;
        transition: background-color 0.3s ease;
    }

    #fila {
        margin-left: 10vw;
    }

    .card {
        justify-content: center;
        margin-left: 8vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.8);
    }

    #texto {
        text-align: center;
    }

    #name {
        width: 200vw;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 15px;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        transition: all 0.3s;
    }

        .switch::after {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            border-radius: 22px;
            background-color: white;
            top: 1px;
            left: 1px;
            transition: all 0.3s;
        }

    input[type='checkbox']:checked + .switch::after {
        transform: translateX(20px);
    }

    input[type='checkbox']:checked + .switch {
        background-color: #7983ff;
    }

    .offscreen {
        position: absolute;
        left: -9999px;
    }
</style>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function togglePassword() {
        var input = document.getElementById("myInput");
        var icon = document.getElementById("eyeIcon");
        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>



