@model Logica.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Usuario</h1>
<h3>¿Está seguro de que desea eliminar este usuario?</h3>

<div class="mt-4">
    <h4>Información del Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-9">
            @{
                var passwordLength = Model?.Password?.Length ?? 0;
                var maskedPassword = passwordLength > 0 ? new string('*', passwordLength) : "(Sin contraseña)";
            }
            @maskedPassword
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-9">
            @(Model.Estado ? "Activo" : "Inactivo")
        </dd>

        <dt class="col-sm-3">
            Fecha de Baja
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.fechaBaja)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Administrador)
        </dt>
        <dd class="col-sm-9">
            @(Model.Administrador ? "Sí" : "No")
        </dd>
    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Usuario", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idUsuario)

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-danger">
                <i class="fa-solid fa-trash"></i> Eliminar
            </button>
            @Html.ActionLink("Cancelar", "Administrador", null, new { @class = "btn btn-secondary ml-2" })
        </div>
    }
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
