@model Logica.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Details";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

<h1>Detalles</h1>

<div class="card p-4 shadow w-100">
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            <span data-password="model.Password">
                @(new string('*', Model.Password != null ? Model.Password.Length : 0))
            </span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @(Model.Estado ? "Activo" : "Inactivo")
        </dd>
        <dt class="col-sm-2">
            Fecha de Baja
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fechaBaja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador)
        </dt>
        <dd class="col-sm-10">
            @(Model.Administrador ? "Sí" : "No")
        </dd>
    </dl>

    <div class="mt-4 d-flex justify-content-start gap-3">
        <a href="@Url.Action("Edit", new { id = Model.idUsuario })" class="btn btn-warning shadow-sm">
            <i class="fa-solid fa-pen-to-square me-2"></i> Editar
        </a>
        <a href="@Url.Action("Administrador", "Usuario")" class="btn btn-secondary shadow-sm">
            <i class="fa-solid fa-arrow-left me-2"></i> Volver
        </a>
    </div>

</div>
<style>
    .card {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

</style>